@model IEnumerable<BlogProjMeitarBorisOrel.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Posts</h2>

<p>
    <a asp-action="Create">Write a new post</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Find by Title: @Html.TextBox("SearchString")
        Author Name: @Html.TextBox("SearchString2")
        Text: @Html.TextBox("SearchString3")
        <input type="submit" value="Search" />

        <select name="gBy">
            <option value="">No Group</option>
            <option value="Aname">Author Name</option>
            <option value="title">Title</option>
        </select>

        <input type="submit" value="Group By" />

    <select name="jBy">
        <option value="">No Join</option>
        <option value="category">Categories</option>
        <option value="comment">Comments</option>

        </select>

        <input type="submit" value="Join By" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Counter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfLikes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Counter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfLikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryID)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">View Post</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }



    </tbody>
</table>

<p>D3Graph</p>
<svg width="960" height="500"></svg>
@*<script>
    d3.select('p').text("dddddddd").style('color', 'blue');
   // d3.selectall();
    


</script>*@



