@model IEnumerable<BlogProjMeitarBorisOrel.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Users List</h2>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@


@using (Html.BeginForm())
{
<p>
    Find by First_Name: @Html.TextBox("SearchString")
    Last_Name: @Html.TextBox("SearchString2")
    Country: @Html.TextBox("SearchString3")
    <input type="submit" value="Search" />

    <select name="gBy">
        <option value="">No Group</option>
        <option value="Fname">First Name</option>
        <option value="Lname">Last Name</option>
    </select>

    <input type="submit" value="Group By" />

    <select name="jBy">
        <option value="">No Join</option>
        <option value="post">Posts</option>
        <option value="comment">Comments</option>

    </select>

    <input type="submit" value="Join By" />

    <select name="oBy">
        <option value="">No Order</option>
        <option value="fName">First Name</option>
        <option value="lName">Last Name</option>

    </select>
    <input type="submit" value="Order By" />
</p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormalizedUserName)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.NormalizedEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConcurrencyStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Counter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormalizedUserName)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.NormalizedEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Counter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.LockoutEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessFailedCount)
        </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
